html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: maroon;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  background: white;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

.message {
  /*border: 3px solid #777;*/
  margin: 10px;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 5px #aaa inset;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}
